<header class="bg-white sticky top-0 z-50 shadow">
  <div
    class="mx-auto max-w-[1440px] h-[98px] flex items-center px-[10px] sm:px-8 md:px-16 relative"
  >
    <!-- Logo -->
    <a href="https://www.lexjet.com" target="_blank" rel="noopener noreferrer">
      <img
        src="{{ get_asset_url('../../images/logo-small.png') }}"
        alt="LexJet Logo"
        class="w-[131px] h-8 object-cover"
      />
    </a>

    <!-- Navigation -->
    <div
      class="ml-auto flex space-x-6 text-h13 tracking-[0.28px] text-[#232323] whitespace-nowrap"
    >
      <a
        href="https://www.lexjet.com"
        class="btn-link"
        target="_blank"
        rel="noopener noreferrer"
      >
        SHOP LEXJET.COM
      </a>

      <!-- Hide below 600px -->
      <a
        href="tel:8004539538"
        class="btn-link [@media(max-width:599px)]:hidden"
      >
        800-453-9538
      </a>

      <a
        href="https://www.lexjet.com"
        class="btn-link [@media(max-width:599px)]:hidden"
      >
        CONTACT US
      </a>
    </div>
  </div>
</header>