<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Blog listing
  screenshotPath: '../images/template-previews/blog-listing.png'
-->
{% set template_css = "../../assets/vite-dist/css/blog.hubl.css" %}
{% set lexjet_css = "../../assets/vite-dist/css/lexjet-theme.hubl.css" %}
{% extends "./layouts/base.hubl.html" %}

{% block body %}

{% dnd_area 'main'%}
  {% dnd_section
    padding={
      "default" : {
        "bottom" : spacing_32
      }
    }
  %}
    {% dnd_column
    %}
      {% include "./partials/header.hubl.html" %}
      {% dnd_row %}
        {% dnd_module
          path="../components/modules/RichText",
        %}
          {% module_attribute "richTextContentHTML" %}
            <p style="text-align: center;">{{ template_translations.blog_listing_page_description.message }}</p>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {% dnd_section
    padding={
      "default" : {
        "top" : spacing_32
      }
    }
  %}
    {% dnd_column
    %}
      {% dnd_row %}
        {% dnd_module
          path="../components/modules/BlogListing",
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

{% end_dnd_area %}

{% endblock %}
