<!--
  templateType: page
  isAvailableForNewContent: true
  label: LexJet Starter Page
  screenshotPath: '../images/template-previews/lexjet-starter-page.png'
-->
{% set template_css = "../../assets/vite-dist/css/lexjet-theme.hubl.css" %}
{% extends "./layouts/lexjet.hubl.html" %}

{% block header %}
{% module "lexjet_header"
  path="../components/modules/LexJetHeader1"
%}
{% endblock header %}

{% block body %}

{% dnd_area 'main' %}
  {% dnd_section
    padding={
      "default" : {
        "top" : spacing_64,
        "bottom" : spacing_64
      }
    }
  %}
    {% dnd_column
    %}
      {% dnd_row %}
        {% dnd_module
          path="../components/modules/RichText",
        %}
          {% module_attribute "richTextContentHTML" %}
            <h1 style="text-align: center;">Welcome to LexJet</h1>
            <p style="text-align: center;">Start building your page by adding modules below.</p>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}
{% end_dnd_area %}

{% endblock %}

{% block footer %}
{% module "lexjet_footer"
  path="../components/modules/LexJetFooter1"
%}
{% endblock footer %}