<!--
  templateType: global_partial
  label: Website footer
-->

{# Partial variables #}

{# Partial #}

<footer class="bg-primary py-5 h-[164px] flex items-center px-[30px] mt-16">
  <div class="w-full flex items-center justify-between flex-wrap gap-5">
    <!-- Logo -->
    <a href="https://www.lexjet.com" target="_blank" rel="noopener noreferrer">
      <img
        src="{{ get_asset_url('../../images/lexjet/lexjet-logo-white.png') }}"
        alt="LexJet Logo"
        class="w-[130px] h-8 object-cover"
      />
    </a>

    <!-- Copyright -->
    <div class="text-white text-sm text-right leading-relaxed">
      Copyright © 2024 LexJet - Inkjet Printers, Media, Ink Cartridges and More. All rights reserved.
    </div>
  </div>
</footer>